# OS / Editor
.DS_Store
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.env
.venv/
venv/
ENV/
pip-wheel-metadata/

# Pipenv / Poetry
Pipfile.lock

# Notebooks / cache
.ipynb_checkpoints/

# App artifacts
*.mp3
*.wav
*.ogg
*.log

# Gradio
gradio_cached_examples/
